/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*  end reset.css */
/*  end reset.css */
/*  end reset.css */
/*  end reset.css */

html {
  box-sizing: border-box;
}

body {
  background-color: #C0C8C8;
  font-family: 'Josefin Slab', serif;
  color: #46F;
  overflow-x: hidden;
}

p {
  display: block;
}

a {
  text-decoration: none;
  color: #46F;
}

nav ul {
  display: flex;
  justify-content: space-around;
  font-size: 1.5em;
  position: absolute;
  width: 80vw;
  top: 20vh;
  color: #46F;
}

nav ul li {

}

.transparent {
  position: static;
  height: 100vh;
  width: 100vw;
  /*background-color: rgba(120,0,0,0.2);*/
}

#main-container {
  height: 100vh;
  width: 100%;
  display: flex;
  top: 20%;
}

.container {
  margin: 0 auto;
  padding: 0 0 0 5%;
}

name {
  font-size: 3em;
  font-family: 'Raleway', sans-serif;
  font-weight: '900';
  letter-spacing: 0.015em;
}

.n-unshadow {
  display: block;
  position:absolute;
  top: 5.0%;
  left: 3.0%;
  color: #876;
  filter: blur(4px);
}

.n-shadow {
  display: block;
  position:absolute;
  top: 7.0%;
  left: 5.0%;
  color: #FFF;
  filter: blur(4px);
}

.n-one {
  display: block;
  position:absolute;
  top: 5%;
  left: 5%;
  color: #24D;
}

.content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30%;
  left: 10%;
}

.content-item {
  flex-direction: column;
}

#projects {
  position: relative;
}

#projs {
  display: flex;
}

.proj-elem {
  align-content: center;

}

.e-unshadow {
  display: block;
  position:absolute;
  top: 5.0%;
  left: 3.0%;
  color: #876;
  filter: blur(4px);
}

.e-shadow {
  display: block;
  position:absolute;
  top: 7.0%;
  left: 5.0%;
  color: #FFF;
  filter: blur(4px);
}

.e-one {
  display: block;
  position:absolute;
  top: 5%;
  left: 5%;
  color: #24D;
}

#resume {
  align-content: center;
}

.r-unshadow {
  display: block;
  position: absolute;
  top: 5.0%;
  left: 3.0%;
  background-color: #876;
  filter: blur(3px);
}

.r-shadow {
  display: block;
  position: absolute;
  top: 7.0%;
  left: 5.0%;
  background-color: #FFF;
  filter: blur(4px);
}

.r-one {
  display: block;
}

/*form {
  display: inline;
}

input[type=submit] {
  color: #888;
}*/

/*.navbarontop {
  position: fixed;
  z-index: top;
  top: 0;
  width: 100%;
  padding: 0 0 10px 0;
  margin-left: -200px;
}*/
