/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*  end reset.css */
/*  end reset.css */
/*  end reset.css */
/*  end reset.css */

body {
  background-color: #000;
  background-size: cover;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  color: #DEF;
}

a {
  text-decoration: none;
  color: #FFF ;
}

name {
  display: block;
  position: absolute;
  top: 0;
  left: 5%;
  color: #000;
  font-size: 4em;
  font-weight: '500';
  letter-spacing: 0.06em;
  /*padding-left: 5%*/
  margin: 1% 0% 0% 10%;
}

h2 {
  font-size: 2.5em;
  margin: 2%;
}

h3 {
  font-size: 1em;
  line-height: 1em;
  text-align: left;
}

name h3 {
  font-size: .3em;
  line-height: 2em;
  text-align: center;
}


h4 {
  font-size: .8em;
  line-height: 2.4em;
}

.transparent {
  position: static;
  height: 100vh;
  width: 100vw;
  /*background-color: rgba(120,0,0,0.2);*/
}

#main-container {
  width: 100%;
  margin: 0 auto;
  /*padding: 0;*/
}

header {
  position: fixed;
  z-index: 20;
  margin: 0 0 0 0;
  width: 100%;
  height: 10rem;
  background-color: rgba(170,187,187,0.9);
  border-bottom: 2px solid rgba(251,251,251,0.2);
  outline: 4px solid rgba(251,251,251,0.6);
}

contact {
  position: fixed;
  display: inline-block;
  font-size: 1.5em;
  top: 5%;
  left: 70%;
  z-index: 21;
  color: #FFF;
}

contact, header a {
  text-shadow: 1px 1px 1px rgba(136,119,102,1);;
}

nav ul {
  display: flex;
  justify-content: space-around;
  font-size: 1.5em;
  position: absolute;
  width: 60%;
  top: 5em;
  left: 5%;
  color: #46F;
}

.content {
  display: flex-box;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  left: 5%;
}

.content-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 12rem;
  padding-bottom: 12rem;
}

.content-item h2 {
  display: block;
  width: 100%;
}

.about p {
  width: 30%;
  margin: 0 auto;
}

.proj-elem {
  flex: 1;
  padding: 15px;
}

.proj-elem a {
  display: block;
  flex: 1;
  font-size: 2em;
}

.proj-elem img {
  display: block;
  flex: 1;
  width: 300px;
  height: 300px;
  margin-top: 5%;
}

.proj-elem h3 {
  padding-top: 0.2rem;
}

#resume {
  align-content: center;
}

@media screen and (max-device-width: 700px){

  body{
    font-size: 130%;
  }

  nav {
    display: none;
  }

  header {
    position: absolute;
    z-index: 20;
    margin: 0 0 0 0;
    width: 100%;
    height: 10rem;
    background-color: #000;
    border: none;
    outline: none;
  }

  name {
    color: #FFF;
  }

  .about p {
    width: 100%;
    font-size: 2em;
    line-height: 2em;
  }

  contact {
    display: fixed;
    position: absolute;
    padding-top: 3rem;
    top: 8rem;
    left: 33%;
  }

  .content-item {
    width: 90%;
    margin: auto;
    padding-top: 20rem;
    padding-bottom: 5rem;
    flex-direction: column;
    justify-content: center;
  }

  .proj-elem img {
    display: block;
    flex: 1;
    width: 80vw;
    height: 80vw;
    margin-top: 5%;
  }

  .proj-elem a {
    font-size: 3em;
  }

  h2 {
    display: block;
    font-size: 4em;
    text-justify: center;
  }

  h3 {
    display: block;
    font-size: 2em;
    text-justify: center;
  }

  h4 {
    display: block;
    font-size: 2em;
    text-justify: center;
  }

}
