/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*  end reset.css */
/*  end reset.css */
/*  end reset.css */
/*  end reset.css */

html {
    overflow-x: hidden; 
    overflow-y: auto;
    font-size: 2vw;
}    

body {
    background-color: #ededed;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #888;
}

header {
    position: fixed;
    z-index: 20;
    margin: 0 0 0 0;
    width: 100vw;
    height: 7rem;
    background-color: #555D;
}    

a, span {
    font-size: .8em;
    text-decoration: none;
    color: #BA8;
} 

name {
    display: block;
    position: absolute;
    top: 0;
    left: 5%;
    color: #AAA;
    letter-spacing: 0.06rem;
    margin: 1% 0% 0% 10%;
}    

contact {
    position: fixed;
    display: inline-block;
    width: 25vw;
    font-size: 1rem;
    top: .5rem;
    right: .5rem;
    z-index: 21;
}

contact a {
    color: #FFF;
}

nav {
    position: absolute;
    width: 90%;
    bottom: 0.3em;
    left: 5%;
}    

nav ul {
    display: flex;
    justify-content: space-around;
}    

h1 {
    font-size: 2.5rem;
    color: #EEE;
}    

h2 {
    color: #888;
    font-size: 1.6rem;
    margin: 3%;
}    

h3 {
    font-size: .8rem;
    line-height: 1rem;
    text-align: left;
}    

h4 {
    font-size: .6rem;
    line-height: 1.2rem;
}

name h3 {
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
}    

.content {
    display: flex-box;
    flex-direction: column;
    justify-content: flex-start;
    width: 90vw;
    margin: auto;
}

.content-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* align-items: baseline; // doesn't solve problem */
    padding-top: 30vh;
    padding-left: 1rem;
    min-height: 70vh;
}

.content-item h2 {
    display: block;
    width: 100%;
}

.about p {
    position: relative;
    top: -15vh;
    width: 50vw;
    margin: 0 auto;
}

.proj-elem {
    max-width: 35vw;
    padding-left: 2rem;
    padding-bottom: 1rem;
}

.resume-links {
    display: block;
    font-size: 2rem;
    margin-left: 3%;
    margin-bottom: 1%;
}

.resume-links li {
    display: inline;
}

.resume-elem img{
    /* width: 40rem; */
    height: auto;
    margin: auto;
    padding-left: 1.5rem;
}

.proj-elem a {
    display: block;
    font-size: 1.3rem;
    /* color: rgb(187, 183, 158); */
}

.proj-elem img {
    display: block;
    width: 300px;
    height: 300px;
    margin-top: 0.8rem;
}

.proj-elem h3 {
    padding-top: 0.2rem;
}

#resume {
    opacity: 0.9;
}

@media screen and (max-width: 700px) {

    html {
        font-size: 4vw;
    }  

    nav {
        display: none;
    }

    header {
        position: absolute;
        z-index: 20;
        margin: 0 0 0 0;
        height: 5rem;
        width: 100vw;
        margin-bottom: 5%;
        background-color: #666;
        border: none;
        outline: none;
        font-size: 2rem;
    }

    name {
        color: #EEE;
    }

    .about p {
        top: 0;
        width: 100%;
        font-size: 1em;
        line-height: 1.3em;
    }

    contact {
        display: block;
        position: relative;
        width: 75vw;
        left: 20vw;
        bottom: 1rem;
        margin-bottom: 2rem;
    }

    .content-item {
        width: 100%;
        margin: auto;
        /* padding-top: 6em; */
        padding-bottom: 1rem;
        flex-direction: column;
        /* justify-content: flex-start; */
        padding-left: 0;
    }

    .resume-elem img {
        width: 90vw;
        height: auto;
        padding-left: 0;
    }

    .proj-elem img {
        display: block;
        flex: 1;
        width: 70vw;
        height: 70vw;
        margin: 0 auto;
        margin-top: 5%;
    }

    h2 {
        display: block;
        text-justify: center;
    }

    h3 {
        display: block;
        text-justify: center;
    }

    h4 {
        display: block;
        text-justify: center;
    }

}

@media screen and (max-device-width: 700px) {

    html {
        font-size: 4vw;
    }  

    a {
        color: #BA8;
    }


    nav {
        display: none;
    }

    header {
        position: absolute;
        z-index: 20;
        margin: 0 0 0 0;
        height: 5rem;
        width: 100vw;
        margin-bottom: 5%;
        background-color: #444444;
        border: none;
        outline: none;
        font-size: 2rem;
    }

    name {
        color: #EEE;
    }

    .about p {
        top: 0;
        width: 100%;
        font-size: 1em;
        line-height: 1.3em;
    }

    contact {
        display: block;
        position: relative;
        width: 75vw;
        left: 20vw;
        bottom: 1rem;
        margin-bottom: 2rem;
    }

    .content-item {
        width: 100%;
        margin: auto;
        padding-top: 6em;
        padding-bottom: 1rem;
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
    }

    .resume-elem img {
        width: 90vw;
        height: auto;
        padding-left: 0;
    }

    .proj-elem {
        max-width: 70vw;
    }

    .proj-elem img {
        display: block;
        flex: 1;
        width: 70vw;
        height: 70vw;
        margin: 0 auto;
        margin-top: 5%;
    }

    h2 {
        display: block;
        text-justify: center;
    }

    h3 {
        display: block;
        text-justify: center;
    }

    h4 {
        display: block;
        text-justify: center;
    }
    contact {
        background-color: #ededed;
    }
    contact a {
        color: #BA8;
    }
}